[Desktop Entry]
Type=Application
Version=1.0
Name=Glassboard
Comment=Glassboardstartup script
Exec=/target/debug/glassboard 
StartupNotify=false
Terminal=false